<div class="flex flex-col items-center w-fit mx-auto mt-15 group">
  <span
    class="mb-4 text-xs tracking-[0.3em] text-gray-400 uppercase animate-bounce"
  >
    Scroll
  </span>

  <div class="relative h-48 w-0.5 bg-gray-200 overflow-hidden">
    <div
      class="absolute top-0 left-0 w-full h-1/3 bg-[#ff5277] animate-scroll-line"
    >
    </div>
  </div>
</div>

<style>
  @keyframes scroll-line {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(300%);
    }
  }
  .animate-scroll-line {
    animation: scroll-line 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }
</style>
