---
import { MoveRight } from "lucide-react";
---

<div
  class="flex flex-1 items-center justify-center min-h-[calc(100vh-156px)] flex-col"
>
  <div class="hover-3d max-w-11/12 md:max-w-11/12">
    <figure class="flex rounded-xl flex-col gap-4">
      <a class="text-base sm:text-1xl text-[#ff5277] font-bold">
        HELLO, MY NAME IS CARLOS
      </a>
      <h1 class="text-4xl md:text-9xl font-bold">I make websites.</h1>
      <p class="text-base sm:text-xl">
        I'm a software development student, interested in learning and
        collaborating as part of a team.
      </p>
    </figure>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="flex flex-col sm:flex-row gap-4 mt-8 mx-auto">
    <a
      href="/experience"
      class="inline-flex px-7 py-4 rounded-xl bg-[#ff5277] text-white font-semibold transition-all duration-150 hover:scale-105 hover:shadow-[0_0_30px_rgba(255,82,119,.35)] gap-2.5 hover:gap-4"
    >
      My Work <MoveRight />
    </a>
  </div>
</div>
